html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 10px 10px 10px 10px;
  font-family: Verdana,
     "Microsoft YaHei", "微软雅黑",
     "WenQuanYi Micro Hei";
}

.footer {
  position: absolute;
  text-align: center;
}

.footer .container {
  margin-top: 1%;
  margin-bottom: 1%;
}
